@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-family: 'Montserrate';
    src: url('Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
    font-family: 'Heebo';
    src: url('Fonts/Heebo/Heebo-VariableFont_wght.ttf');
    font-family: 'Poppins';
    src: url('Fonts/Poppins/Poppins-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.advertise {
    background-color: #000;
}

.add-content {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    align-items: center;
    padding: 12px 0;
}

.add-para {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.add-para p {
    font-size: 13px;
}

.add-para p a {
    color: #fff;
    padding-left: 8px;
    font-family: "Poppins", sans-serif !important;
    line-height: 24px;
}

.lang-btn {
    margin-left: 93%;
}

.lang-btn button {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;
    gap: 11px;
    cursor: pointer;
}

.logo h1 a {
    text-decoration: none;
    color: #000;
    font-family: "Heebo", sans-serif;
    letter-spacing: 1px;
}

nav {
    display: block;
    padding: 48px 0 16px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navlink {
    display: block;
}

.navlink ul {
    display: flex;
    list-style-type: none;
    gap: 48px;
    text-decoration: none;
}

.navlink ul li a {
    text-decoration: none;
    color: #000;
    font-family: "Heebo", sans-serif;
}

.navlink a {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

.mobile-nav {
    display: none;
}

.hamburger {
    display: none;
}

.navlink a:hover {
    border-bottom: 1px solid #000;
}

#nav-bottom-border {
    border-bottom: 2px solid #F5F5F5;
}

.search-cart {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.search-input {
    position: relative;
    display: flex;
    overflow: hidden;
}

.search-icon {
    position: absolute;
    right: 159px;
}

.search-input input {
    padding: 7px 12px 7px 20px;
    background-color: #F5F5F5;
    width: 243px;
    height: 38px;
    outline: none;
    border: none;
    font-size: 12px;
}

.search-input i {
    color: #000;
    font-size: 20px;
    position: absolute;
    transform: translateY(37%);
    right: 10px;
}

.Wish-list {
    position: relative;
    display: flex;
}

.Wish-list i {
    font-size: 20px;
    color: #000;
}

.heart-icon.filled.fa-solid {
    color: #DB4444;
}


.Wish-list span {
    position: absolute;
    top: -7px;
    left: 9px;
    background-color: #DB4444;
    padding: 0px 5px;
    border-radius: 50%;
    color: white;
    font-size: 11px;
}

.cart-list {
    display: flex;
    position: relative;
}

.cart-list i {
    font-size: 20px;
    color: #000;
}

.cart-list span {
    position: absolute;
    top: -7px;
    left: 9px;
    background-color: #DB4444;
    padding: 0px 5px;
    border-radius: 50%;
    color: white;
    font-size: 11px;
}

.user-profile {
    display: flex;
}

.user-profile i {
    font-size: 20px;
    color: #000;
}

.banner-left-link {
    display: flex;
    width: 100%;
    max-width: 214px;
    height: 100%;
    border-right: 2px solid #F5F5F5;
    padding-top: 40px;
    padding-right: 16px;
}

.banner-left-link ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.banner-left-link ul li {
    list-style-type: none;
}

.banner-left-link ul li a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: #000;
}

.main-banner {
    display: flex;
    gap: 40px;
    width: 100%;
}

.banner-content {
    display: flex;
    width: 100%;
    padding-top: 40px;
}

.banner-carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.slick-carousel {
    width: 100%;
    max-width: 1200px;
}

.banner-carousel .carousel-cart {
    width: 100%;
    box-sizing: border-box;
}

.carousel-cart {
    width: 100% !important;
    display: flex !important;
    background-color: #000;
    align-items: center;
    justify-content: space-around;
    max-width: 892px;
    max-height: 344px;
    min-height: 344px;
    height: 100%;
    box-sizing: border-box;
}

.slick-initialized .slick-slide {
    display: flex !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
    overflow: hidden;
}

.slick-list {
    height: 100% !important;
    padding: 0 !important;
}

.slick-track {
    height: 100%;
    position: absolute !important;
}

.cart-content {
    display: flex;
    flex-direction: column;
}

.brandlogo-name {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 20px;
    color: #Fff;
}

.discount-shopbtn {
    gap: 8px;
    flex-direction: column;
}


.discount-shopbtn h3 {
    font-size: 48px;
    max-width: 294px;
    font-weight: 600;
    padding-bottom: 22px;
    color: #Fff;
}

.shop-nowbtn {
    display: flex;
    align-items: center;
    gap: 8px;
}

.shop-nowbtn a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
}

.brand-image img {
    width: 100%;
    object-fit: cover;
}

.slick-dots {
    background-color: #000 !important;
    bottom: 0 !important;
    position: absolute;
    display: flex !important;
    justify-content: center;
}

.slick-dots li {
    color: #fff !important;
}

.slick-dots li button {
    background: none !important;
    padding: 0 !important;
}

.slick-dots li.slick-active button:before {
    color: #DB4444 !important;
    opacity: 6.75 !important;
}

.slick-dots li button:before {
    color: white !important;
    font-size: 12px !important;
}

.m-search-icons {
    display: none;
}

.sales-section {
    margin-top: 140px;
}

.sales-product {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.selling-main-product {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.mobile-selling {
    display: none;
}

.section-name {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section-name h3 {
    font-size: 16px;
    font-weight: 700;
    color: #DB4444;
}

.red-box {
    width: 20px;
    height: 40px;
    background-color: #DB4444;
    border-radius: 4px;
}

.sales-countdown {
    display: flex;
    gap: 87px;
    justify-content: space-between;
}

.sales-countdown h3 {
    font-size: 36px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.countdown {
    display: flex;
    gap: 38px;
    text-align: justify;
}

.clock p {
    font-size: 12px;
    font-weight: 600;
}

.clock span {
    font-size: 32px;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
}

.carousel-btn {
    display: none;
    gap: 8px;
}

.carousel-btn i {
    padding: 16px;
    background-color: #F5F5F5;
    border-radius: 50%;
}

.product-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart-carousel {
    margin-top: 40px;
}

.mobile-swiper {
    display: none;
}

.swiper {
    display: none !important;
}

.carousel-content {
    display: flex;
    gap: 30px;
}

.cart {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    padding: 35px 49px;
    max-width: 270px;
    max-height: 250px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.product-img {

    display: flex;

    align-items: center;
}

.product-img img {
    display: block;
    max-width: 172px;
    max-height: 150px;
}

.more-option {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 8px;
    left: 0;
    top: 0;
    width: 100%;
}

.more-option p {
    background-color: #DB4444;
    padding: 4px 12px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}

.action-icon {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.action-icon i {
    background-color: #fff;
    padding: 9px;
    border-radius: 50%;
}

.add-to-cart {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    transform: translateY(100%);
    transition: 0.3s ease;
    cursor: pointer;
}

.cart:hover .add-to-cart {
    transform: translateY(0);
    display: block;
}

.product-title {
    padding-top: 16px;
}

.product-title h5 {
    font-size: 16px;
    font-weight: 700;
}

.price {
    padding-top: 8px;
    padding-bottom: 8px;
}

.price p {
    font-size: 16px;
    font-weight: 700;
    color: #DB4444;
}

.price span {
    font-size: 16px;
    font-weight: 600;
    color: #7D8184;
    text-decoration: line-through;
}

#price-rating {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

#price-rating span {
    text-decoration: none !important;
    font-weight: normal;
}

.rating {
    padding-top: 8px;
}

.rating span {
    color: #7D8184;
}

.view-product-btn {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    /* border-bottom: 2px solid #F5F5F5;
    padding-bottom: 70px; */
}

.view-product-btn button {
    padding: 16px 48px;
    width: 234px;
    height: 56px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #DB4444;
    color: #fff;
}

.new-item-arrival {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
}

.launching-item {
    margin-top: 60px;
    position: relative;
}

.new-item-cart {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}

.new-cart {
    background-color: #000;
    width: 570px;
    height: 600px;
    border-radius: 4px;
}

.new-cart img {
    display: flex;
    position: absolute;
    bottom: 0;
}

.itme-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #fff;
    left: 31px;
    bottom: 24px;
}

.itme-details h3 {
    font-size: 24px;
    padding-bottom: 8px;
}

.itme-details p {
    max-width: 242px;
    font-size: 14px;
    padding-bottom: 8px;
}

.electronic-item-and-perfume-cart {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.women-new-cart {
    display: flex;
    position: relative;
}

.women-new-cart img {
    border-radius: 4px;
    width: 570px;
    height: 284px;
}

.speaker-and-perfume-cart {
    display: flex;
    gap: 30px;
    bottom: 0;
}

.speaker-cart {
    background-color: #000;
    width: 270px;
    height: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.perfume-item {
    background-color: #000;
    width: 270px;
    height: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
}



.categories-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.categories-content {
    margin-top: 80px;
}

.categories-main-content h3 {
    font-size: 36px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.multiple-icon {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 60px;
    border-bottom: 2px solid #F5F5F5;
    padding-bottom: 70px;
}

.multiple-icon a {
    text-decoration: none;
    color: #000;
}

.cat-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid #F5F5F5;
    gap: 16px;
    padding: 25px 38px;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
}

.cat-icon svg {
    object-fit: cover;
    fill: #000;
    font-weight: 500;
}

.cat-icon:hover {
    background-color: #DB4444;
    color: #fff;
    transition: 0.3s ease;
    border-radius: 4px;
}

.cat-icon svg:hover {
    fill: #fff;
    transition: 0.3s ease;
}

.selling-product {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.mains-selling {
    align-items: end;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
}

.section-heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.item-more-btn button {
    display: flex;
    background-color: #DB4444;
    border: 0;
    outline: 0;
    padding: 16px 48px;
    color: #fff;
    width: 159px;
    height: 56px;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.Best-product {
    display: flex;
    gap: 30px;
}

.cat-more-option {
    display: flex;
    position: absolute;
    justify-content: end;
    padding: 8px;
    left: 0;
    top: 0;
    width: 100%;
}

#img-badge {
    justify-content: space-between;
}

.badge p {
    background-color: #00FF66;
    padding: 4px 12px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}


.cat-wise-new-sale {
    margin-top: 140px;
    display: flex;
    width: 100%;
    position: relative;
}

.sale-add {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 69px 50px;
}

.sale-banner {
    display: flex;
    flex-direction: column;
}

.sale-product-img {
    position: relative;
    display: flex;

}

.sale-product-img::after {
    position: absolute;
    content: '';
    width: 635px;
    height: 511px;
    background-image: url(img/white-glow.png);
    top: -26%;
    left: -3%;
    background-position: center;
}

.sale-product-img img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.sale-banner h2 {
    font-size: 16px;
    color: #00FF66;
    font-weight: 700;
}

.sale-banner h1 {
    font-size: 48px;
    font-weight: 700;
    max-width: 443px;
    line-height: 63px;
    padding: 32px 0;
    font-family: "poppins", sans-serif;
}

.buy-btn {
    margin-top: 40px;
}

.buy-btn button {
    background-color: #00FF66;
    padding: 16px 48px;
    border: 0;
    outline: 0;
    color: #fff;
    border-radius: 4px;
    width: 171px;
    height: 56px;
    cursor: pointer;
}

.sale-clock {
    background-color: #fff;
    color: #000;
    padding: 14px 21px 28px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    width: 62px;
    height: 62px;
}

.sale-clock span {
    font-size: 16px;
    font-weight: bold;
}

.sale-clock p {
    font-size: 11px;
    line-height: 8px;
    font-weight: normal;
    font-family: "poppins", sans-serif;
}

.item-color-type {
    display: flex;
    align-items: center;
}

.item-dark-red-color {
    background-color: #FB1314;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
}

.item-red-color {
    background-color: #DB4444;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
}

.item-green-color {
    background-color: #184A48;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
}

.item-black-color {
    background-color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
}

.item-yellow-color {
    background-color: #EEFF61;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
}

.border-item-color {
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.border-item-color.active {
    border: 2px solid #000;
}

.service-key-point {
    margin-top: 140px;
    display: flex;
    justify-content: center;
}

.benefits-content {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 88px;
}

.silver-border {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #7D8184;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.silver-border i {
    background-color: #000;
    border-radius: 50%;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 58px;
    height: 58px;
    font-size: 27px;
}

.key-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-name h3 {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 800;
    padding-bottom: 8px;
}

.service-para P {
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
}

footer {
    margin-top: 140px;
    background-color: #000;
    width: 100%;
    height: 440px;
    padding: 80px 124px 135px;
}

.footer-content {
    color: #fff;
}

.company-detail {
    display: flex;
    gap: 83px;
}

.company-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.company-links h2 {
    text-decoration: underline;
    padding-bottom: 2px;
}

.company-links a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
}

.company-links p {
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
}

.subcribe-request {
    display: flex;
    overflow: hidden;
    position: relative;
}

.subcribe-request input {
    padding: 12px 71px 12px 16px;
    background: transparent;
    outline: 0;
    border: 2px solid #7D8184;
    border-radius: 4px;
    max-width: 202px;
    max-height: 48px;
    color: #F5F5F5;
}

.subcribe-request i {
    position: absolute;
    transform: translateY(37%);
    right: 10px;
    font-size: 24px;
}

.other-link {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.other-link ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.other-link li {
    list-style-type: none;
}

.other-link a {
    text-decoration: none;
    font-weight: normal;
    text-decoration: underline;
}

.app-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-link {
    display: flex;
    gap: 19px;
}

.social-link i {
    font-size: 24px;
}

.copyright {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.copyright p {
    font-size: 16px;
    color: #363738;
    font-weight: 900;
    text-decoration: underline;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 768px) {

    .container {
        padding: 0 12px;
    }

    nav {
        padding-top: 15px;
    }

    .hamburger {
        display: block;
        float: right;
        margin-top: -28px;
    }

    .advertise {
        display: none;
    }

    .lang-btn {
        margin-left: 85%;
    }

    .navlink {
        display: none;
    }

    .search-cart {
        display: none;
    }

    #nav-bottom-border {
        border: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
        position: absolute;
        width: 100%;
    }

    .mobile-nav.show {
        opacity: 1;
        transform: scaleY(1);
        align-items: normal;
        z-index: 99999;
    }

    .mobile-navlink {
        /* padding: 10px; */
        margin-top: 14px;
        background-color: #fff;
        width: 94%;
    }

    .mobile-navlink ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-navlink ul li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .mobile-navlink ul li a {
        text-decoration: none;
        color: #000;
    }

    .m-search-icons {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: space-around;
        z-index: 1000;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }

    .m-search-icons a {
        display: flex;
        text-decoration: none;
        color: #000;
    }

    .search-input {
        display: block;
    }


    .search-icon {
        position: relative;
        right: 8px;
    }

    .search-input {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .search-input.show {
        max-height: 50px;
        opacity: 1;
    }

    .cart-list {
        position: relative;
        /* right: 24px; */
    }

    .fa-regular,
    .far {
        font-size: 20px !important;
    }

    .fa-solid,
    .fas {
        font-size: 20px !important;
    }

    .banner-content {
        height: 527px;
        padding-top: 11px;
    }

    .banner-left-link {
        display: none;
    }

    .slick-initialized .slick-slide {
        flex-direction: column;
    }


    .carousel-cart {
        max-height: 100%;
    }

    .carousel-btn {
        display: flex
    }

    .slick-dotted.slick-slider {
        margin-bottom: -164px !important;
    }

    .sales-section {
        margin-top: 240px;
    }


    .cart-carousel {
        display: none;
    }

    .mobile-swiper {
        display: flex;
        margin-top: 50px;
    }

    .new-item-cart {
        display: block;
        width: 100%;
    }

    .new-cart {
        position: relative;
        margin-bottom: 30px;
        width: 100%;
    }

    .launching-item {
        display: flex;
    }

    .new-cart img {
        right: 0;
        width: 100%;
        height: 100%;
    }

    .women-new-cart img {
        width: 100%;
        height: 100%;
    }

    .speaker-and-perfume-cart {
        display: block;
    }

    .speaker-cart,
    .perfume-item {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        padding: 32px 0;
    }

    .cart {
        max-width: none;
        justify-content: center;
        max-height: 344px;
        height: 443px;
    }

    .swiper-backface-hidden .swiper-slide {
        height: 500px;
    }

    .swiper {
        display: block !important;
    }

    .product-img {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    /* .product-img img {
        min-height: 100%;
        min-width: 100%;
    } */

    .selling-main-product {
        display: none;
    }

    .mobile-selling {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .mobile-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 173px;
    }

    .left-heading {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .mobile-countdown {
        margin-top: 40px;
    }

    .multiple-icon {
        display: block;
        padding-bottom: 40px;
        margin-top: 50px;
    }

    .multiple-icon a {
        display: flex;
        margin-bottom: 30px;
    }

    .multiple-icon a:last-child {
        margin-bottom: 0;
    }

    .Best-product {
        display: block;
        margin-top: 50px;
    }

    .product-details {
        margin-bottom: 30px;
    }

    .carousel-content {
        display: block;
    }

    .new-item-arrival {
        margin-top: 50px;
    }

    .cat-wise-new-sale {
        margin-top: 50px;
    }

    .selling-product {
        margin-top: 50px;
    }

    .service-key-point {
        display: block;
        margin-top: 50px;
    }

    .benefits-content {
        display: block;
    }

    footer {
        height: 1247px;
        padding: 0;
        margin-top: 50px;
    }

    .company-detail {
        display: block;
    }

    .sale-add {
        display: block;
    }

    .sale-product-img::after {
        width: 100%;
        height: 100%;
        display: none;
    }

    .sale-product-img {
        top: 33px;
    }

    .sale-add {
        padding: 60px 22px;
    }

    .copyright {
        display: none;
    }

    .app-link {
        display: flex;
        flex-direction: column;
    }

    .footer-content {
        padding-top: 52px;
    }

    .company-links {
        gap: 18px;
    }

    .company-links h2 {
        padding-top: 18px;
    }

    .subcribe-request {
        width: 54%;
    }

    .subcribe-request i {
        transform: translateY(49%);
    }

    .silver-border {
        margin-top: 24px;
    }

    .main-heading h2 {
        font-size: 16px;
    }

    .countdown {
        gap: 29px;
    }

    .view-product-btn {
        margin-top: 21px;
    }

    .categories-main-content h3 {
        font-size: 17px;
    }

    .item-more-btn button {
        width: 104px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        padding: 0 23px;
        height: 41px;
    }
}